.prev-img {
  border-radius: 10px;
  width: 230px;
  height: 200px;
}

.page-return {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  font-size: 12px;
  margin: auto;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 5px 5px 5px;
  max-width: 1000px;
  gap: 22px;
}

.location {
  text-decoration: none;
  padding-left: 5px;
  width: 130px;
  height: 30px;
}

.price {
  padding-left: 5px;
}

.location-price {
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  font-family: sans-serif;
  width: 130px;
  height: 110px;
  color: black;
}

.review-section {
  display: inline-flex;
  flex-direction: column;
  padding-left: 65px;
  text-decoration: none;
  color: black;
}

.reviews {
  display: inline-flex;
}

.fa-solid.fa-star {
  padding-top: 12px;
}

.spot-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.spot-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  border-radius: 10px;
}
